{% extends './layout.html'%}

{% block CustomCss %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock CustomCss %}

{% block body %}
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bx-wallet-alt'></i>
                <div class="logo_name">Wallet</div>
            </div>
            <i class='bx bx-menu' id="btn"></i> 
        </div>
        <ul class="nav_list">
            <li>
                <a href="">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
            <a href="">
                <i class='bx bx-user' ></i>
                <span class="links_name">User</span>
            </a>
            </li>
            <li>
                <a href="{{ url_for('main_bp.new_transaction') }}">
                    <i class='bx bx-transfer-alt' ></i>
                    <span class="links_name">Transactions</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Analytics</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class='bx bx-cog' ></i>
                    <span class="links_name">Settings</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('auth_bp.logout') }}">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log Out</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="home_content">
        <div class="text">Dashboard</div>
    </div>
{% endblock body %}

{% block CustomScript %}
<script>
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");

    btn.onclick = function(){
        sidebar.classList.toggle("active");
    }

</script>
{% endblock CustomScript %}